.social {
  margin-top: 1.35em;

  &--inline {
    display: inline-flex;
    justify-self: center;
    align-self: center;
    flex-flow: column nowrap;

    @include break(md) {
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 65%;
    }
  }

  &__item {
    text-align: center;

    > svg {
      height: 2.3em;
      width: 100%;
      fill: #fff;
    }

    &:not(:last-child) {
      margin-bottom: 1.2em;
    }

    @include break(md) {
      &:not(:last-child) {
        margin-right: .8em;
      }
    }
  }
}
