@import './mixins.scss';

// wrapper to fix contained components on larger viewports
%content-wrapper {
  width: 100%;
  padding: 0 .8em;

  @include break(lg) {
    width: 1120px; // TODO: refactor, ems
    margin: 0 auto;
    padding: 0;
  }
}
