$breakpoints: (
  sm: 36.875em,
  md: 50.5em
);

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin break($bp, $rule: min-width) {
  @media screen and (#{$rule}: map-get($breakpoints, $bp)){
    @content; 
  }
}
