@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.container {
  position: relative;
  display: flex;
  width: 30%;
  justify-content: space-between;
  flex-flow: row nowrap;

  span {
    display: block;
    font-family: $secondary-font-family;
  }
}
