.toggle {
  --dur: 0.3s;
  position: relative;
	border-radius: 0.75em;
	cursor: pointer;
  background: black;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
  overflow: hidden;

  &:checked {
    background: white;
  }

  &::before, &::after {
    content: "";
    border-radius: 50%;
    display: block;
    position: absolute;
  	background: hsl(0,0%,90%);
    top: 0.25em;
    left: 0.25em;
    width: 1em;
    height: 1em;
    transition: transform var(--dur);
    transition-timing-function: ease-out;
  }

  &::before, &:checked::after {
    transition-delay: 0s;
  }

  &:checked::after  {
    transition-timing-function: ease-out;
  }

  &:checked::before, &::after {
    transition-delay: calc(var(--dur) * 0.75);
    transition-timing-function: cubic-bezier(0.3,1.6,0.5,0.7);
  }

  &::before {
    transform: translateX(-1.5em);
    background: black;
  }

  &:checked::before {
    transform: translateX(1.5em);
  }

  &:checked::after {
    transform: translateX(3em);
  }

  &:focus {
    outline: transparent;
  }
}
