@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.code {
  position: relative;
  font-size: 0.92rem;
  text-align: left;
  line-height: 1.6;
  padding: 1.8rem;
  color: #c9c9c9;
  border-radius: 7px;
  background-color: #332e2e;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4%);

  * { // ugly override, but whatever
    font-family: $secondary-font-family;
  }

  @include break(md) {
    padding: 2.6rem 2.2rem 1.6rem 4.4rem;
  }

  &__lines {
    display: none;

    @include break(md) {
      position: absolute;
      left: 2rem;
      top: 10%;
      display: flex;
      flex-flow: column wrap;
    }
  }

  &__line-number {
    display: block;
    color: #515252;
  }

  &__keyword {
    color: $purple;
  }

  &__variable {
    color: $whiskey;
  }

  &__string {
    color: $green;
  }

  &__opening {
    position: relative;
  }

  &__item {
    position: relative;
  }

  &__line-number {
    position: absolute;
    left: -2.5rem;
    user-select: none;
  }

  &__prop {
    color: $coral;
    padding-left: 0.8rem;

    &--indent2 {
      padding-left: 1.6rem;
    }

    &--indent3 {
      padding-left: 2.2rem;
    }
  }

  &__indent {
    padding-left: 0.8rem;
  }

  &__link {
    display: inline-block;
    color: $green;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1%;
      width: 100%;
      bottom: 0.09rem;
      border-bottom: 1px dashed #515252;
    }
  }
}

.code__list-block {
  display: flex;
}

.inlined {
  display: inline-flex;
}

.indent-level-2 {
  padding-left: 0.8rem;
}

#code-window {
  position: absolute;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #cfcece;
  padding: 0.5em 1.12em;
  cursor: grab;

  > * {
    border-radius: 100%;
    height: 0.6em;
    width: 0.6em;
    background-color: #332e2e;
    cursor: pointer;
  }

  > *:not(:last-child) {
    margin-right: 0.6em;
  }

  .close {
    background-color: #cd3635;
  }

  .minimize {
    background-color: #d3a43f;
  }

  .maximize {
    background-color: #33a645;
  }
}
