$breakpoints: (
  sm: 36.875em,
  md: 50.5em
);

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin break($bp, $rule: min-width) {
  @media screen and (#{$rule}: map-get($breakpoints, $bp)){
    @content; 
  }
}

$purple: #c678dd;
$error: #f44747;
$coral: #e06c75;
$whiskey: #d19a66;
$chalky: #e5c07b;
$lightDark: #7f848e;
$dark: #5c6370;
$malibu: #61afef;
$green: #98c379;
$fountainBlue: #56b6c2;
$invalid: #ffffff;

.code {
  position: relative;
  font-size: .92rem;
  text-align: left;
  line-height: 1.6;
  padding: 1.8rem;
  color: #C9C9C9;
  border-radius: 7px;
  background-color: #332E2E;
  box-shadow: 0 0 .4rem rgba(0,0,0,0.4%);

  @include break(md) {
    padding: 1.8rem 2.2rem 1.8rem 4.4rem;
  }

  &__lines {
    display: none;

    @include break(md) {
      position: absolute;
      left: 2rem;
      top: 10%;
      display: flex;
      flex-flow: column wrap;
    }
  }

  &__line-number {
    display: block;
    color: #515252;
  }

  &__keyword {
    color: $purple;
  }

  &__variable {
    color: $whiskey;
  }

  &__string {
    color: $green;
  }

  &__prop {
    color: $coral;
    padding-left: .8rem;

    &--indent2 {
      padding-left: 1.6rem;
    }

    &--indent3 {
      padding-left: 2.2rem;
    }
  }

  &__indent {
    padding-left: .8rem;
  }

  &__link {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: .09rem;
      border-bottom: 1px dashed #515252;
    }
  }
}
