<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div id="main" class="flex-container">
      <section class="flex-container--column introduction u-center-text">
        <h1>Vincent Aceto</h1>
        <p>
          Hi! My site is under construction, but please don't hesitate to
          connect.
        </p>
        <ul class="social social--inline u-center-text">
          <li class="social__item"><a href="#" target="_blank">Github</a></li>
          <li class="social__item"><a href="#" target="_blank">Codepen</a></li>
          <li class="social__item"><a href="#" target="_blank">Linkedin</a></li>
        </ul>
      </section>
    </div>
    <script src="main.js"></script>
  </body>
</html>
