$base-font-family: 'Work Sans', Helvetica, sans-serif;
$base-heading-font-family: $base-font-family;

p,
span,
li,
div,
figcaption,
a,
i {
  font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-heading-font-family;
}

/* Perfect Third */
h1 {font-size: 4.209em; line-height: .95em}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

p {
  font-size: 1.333em;

  @include break(md) {
    font-size: 1rem;
  }
}
